<div *ngIf="this.usuari == undefined || this.ressenya == undefined; else carregat">
    Carregant...
</div>
<ng-template #carregat>

    <p>
        <button mat-button id="linkPerfil" (click)="navegar()">
            <img height="30px" *ngIf="usuari.foto_perfil" [src]="usuari.foto_perfil">
            <span id="autor">{{usuari.nom}}</span>
        </button>
        {{ressenya.data.toDate() | date:"dd/MM/yyyy HH:mm"}}
    </p>
    <div id="ressenya">
        <h2>{{ressenya.titol}}</h2>
        <p>{{ressenya.cos}}</p>
    </div>
</ng-template>