<div *ngIf="usuari == undefined; then carregant else carregat"></div>
<ng-template #carregant>Carregant...</ng-template>
<ng-template #carregat>
    <div class="part">
        <h1 class="margeEsquerra">Editar perfil</h1>
        <img matTooltip="Canviar foto de perfil" matTooltipPosition="right" class="margeEsquerra" (click)="canviarFoto()" height="150px" *ngIf="usuari.foto_perfil; else senseFoto" [src]="usuari.foto_perfil">
        <ng-template #senseFoto>
            <button class="margeEsquerra" (click)="novaFoto()" mat-raised-button color="primary">Afegir foto de perfil</button> 
        </ng-template><br><br>
        <form class="margeEsquerra" [formGroup]="perfilForm" (ngSubmit)="guardar()">
            <mat-form-field class="example-full-width">
                <mat-label>Data de naixement</mat-label>
                <input type="date" matInput formControlName="data_naixement">
            </mat-form-field> <br>
            <mat-form-field class="example-full-width">
                <mat-label>Biografia</mat-label>
                <textarea type="text" matInput formControlName="biografia"></textarea>
            </mat-form-field> <br>
            <mat-form-field class="example-full-width">
                <mat-label>Sexe</mat-label>
                <mat-select formControlName="sexe">
                    <mat-option value="home">Home</mat-option>
                    <mat-option value="dona">Dona</mat-option>
                    <mat-option value="altres">Altres</mat-option>
                </mat-select>
            </mat-form-field> <br>
            
            <button class="btn" type="submit" mat-raised-button color="accent">Guardar</button>
            <button class="btn" type="reset" mat-raised-button color="warn">Descartar</button>
        </form>
        <a id="veurePerfil" class="btn" mat-raised-button color="primary" [routerLink]="'/usuari/' + usuari.correu">Veure perfil</a>
    </div>
    <div class="part">
        <h1>Missatges a l'administrador</h1>
        <div *ngIf="teMissatge == true; else senseMissatges">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        <span>{{missatge.titol}}</span>
                    </mat-card-title>
                    <mat-card-subtitle>
                        <span>{{missatge.data.toDate() | date:"dd/MM/yyyy HH:mm"}}</span>
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        {{missatge.cos}}
                    </p>
                    <mat-divider></mat-divider> <br>
                    <div *ngIf="missatge.resposta != ''; else senseResposta">             
                        <mat-icon>chat</mat-icon>
                        Admin: <br> <br>
                        {{missatge.resposta}}
                    </div>
                    <ng-template #senseResposta>
                        <p id="senseResposta">
                            Sense resposta (encara)
                        </p>
                    </ng-template>
                </mat-card-content>
            </mat-card>
        </div>
        <ng-template #senseMissatges>
            Sense missatges
        </ng-template>
        <br><button (click)="enviarMissatge()" class="btn" mat-raised-button color="primary">Nou missatge</button> 
    </div>
</ng-template>
