<table>
  <thead>
    <th>ID</th>
    <th>Nom</th>
    <th>Plataformes</th>
    <th>Categories</th>
    <th>Data llançament</th>
    <th>Desenvolupador</th>
    <th>Descripció</th>
    <th>Web</th>
    <th>Portada</th>
    <th>Imatges</th>
    <th>Preu</th>
  </thead>

  <tbody>
    <tr *ngFor="let joc of jocs">
      <td>{{joc.idField}}</td>
      <td>{{joc.nom}}</td>
      <td>{{joc.plataformes}}</td>
      <td>{{joc.categories}}</td>
      <td>{{joc.data_llansament}}</td>
      <td>{{joc.desenvolupador}}</td>
      <td>{{joc.descripcio}}</td>
      <td>{{joc.web}}</td>
      <td>{{joc.portada}}</td>
      <td>{{joc.imatges}}</td>
      <td>{{joc.preu}}</td>
      <td>
        <button (click)="delete(joc.id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>

<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
  <label for="nom">Nom</label>
  <input type="text" id="nom" formControlName="nom">

  <label for="plataformes">Plataformes</label>
  <select formControlName="plataformes" id="plataformes" multiple>
    <option value="ps5">Play Station 5</option>
    <option value="pc">PC</option>
    <option value="xbox">Xbox One</option>
    <option value="switch">Nintendo Switch</option>
  </select>

  <label for="categories">Categories</label>
  <select formControlName="categories" id="categories" multiple>
    <option value="esports">Esports</option>
    <option value="rol">Rol</option>
    <option value="terror">Terror</option>
    <option value="arcade">Arcade</option>
  </select>

  <label for="data_llansament">Data llançament</label>
  <input type="date" id="data_llansament" formControlName="data_llansament">

  <label for="desenvolupador">Desenvolupador</label>
  <input type="text" id="desenvolupador" formControlName="desenvolupador">

  <label for="descripcio">Descripció</label>
  <input type="text" id="descripcio" formControlName="descripcio">

  <label for="web">Web</label>
  <input type="text" id="web" formControlName="web">

  <label for="portada">Portada</label>
  <input type="text" id="portada" formControlName="portada">

  <label for="imatges">Imatges</label>
  <select formControlName="imatges" id="imatges" multiple>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
  </select>

  <label for="preu">Preu</label>
  <input type="number" id="preu" formControlName="preu">

  <input type="submit" value="Crear">
</form>
